################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure/EnterpriseIntegration/packages/WebGrease.1.5.2
