<h1>Issues List</h1>
<div class="table-responsive" *ngIf="items">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">IssueType</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Creation Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items" (click)="select(item)" [class.table-primary]="item == selectedItem">
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.issueType}}</td>
                <td>{{item.assignedTo}}</td>
                <td>{{item.createTime}}</td>
            </tr>
        </tbody>
    </table>
    <pagination [totalItems]="totalCount"
        [maxSize]="8"
         [itemsPerPage]="10"
         (pageChanged)="pageChanged($event)"></pagination>
</div>